@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


        

    

<h1>Total Customers</h1>
<h3> @Model.CustomerCount</h3>
<h1>Total Accounts</h1>
<h3> @Model.AccountCount</h3>


<h1>Total Money </h1>
<h3>@Model.BalanceCount kr</h3>



