@page
@model BankStartWeb.Pages.SwishModel
@{
}
      <form method="post">
 <div class="form-group">
                <label asp-for="Amount">Amount</label>
                <input class="form-control" asp-for="Amount">
                <span asp-validation-for="Amount" class="field-validation-error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message">Message</label>
                <input class="form-control" asp-for="Message">
                <span asp-validation-for="Message" class="field-validation-error"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="AccountId">Accounts</label>
                <select class="form-control" asp-for="AccountId" asp-items="@Model.AllAccounts" >
                </select>
                <span asp-validation-for="AccountId" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomersAccountId">Enter Account number</label>
                <input class="form-control" asp-for="CustomersAccountId">
                <span asp-validation-for="CustomersAccountId" class="field-validation-error"></span>
            </div>
            <button type="submit" class="btn">Send</button>
            </form>