@page
@model BankStartWeb.Pages.SwishModel
@await Component.InvokeAsync("NToastNotify")
@{
}
      <form method="post">
 <div class="form-group">
                <label asp-for="Amount">Amount</label>
                <input class="form-control" asp-for="Amount">
                <span asp-validation-for="Amount" class="field-validation-error"></span>
            </div>
          <div class="form-group">
                <label asp-for="ReceiverId">Enter Account number</label>
                <input class="form-control" asp-for="ReceiverId">
                <span asp-validation-for="ReceiverId" class="field-validation-error"></span>
            </div>
            <button type="submit" class="btn btn-success">Transfer</button>
            </form>